/* .App {
  text-align: center;
}
input[type="text" i] {
  padding-block: 1px;
  padding-inline: 2px;
}
.inputText {
    border: 1px solid #ccd0d5;
    border-radius: 0;
    margin: 0;
    padding: 3px;
} */
.outer {
  width: 300px;
  height: 300px;
  background-color: lightblue;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}
.signup-form h1 {
  text-align: center;
}

.nameOfPerson input {
  width: 180px;
  margin: 2px;
  
}
div{
  justify-content: center;
  align-items: center;
  display: flex;
}
.emailOrphone input{
  width: 373px;
}
.signup-form p {
  text-align: center;
  color: #666;
}
.password input{
  width: 373px;
}
.Date select{
  width: 70px;
  margin: 3px;
}
.signup-form div {
  margin-bottom: 10px;
}
.inner {
  width: 150px;
  height: 150px;
  background-color: lightcoral;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  text-align: center;
  color: black;
}
